// Jar colors
$green-color: #1AB165;
$green-color-correct: #3B9B3D;
$yellow-color: #E7D325;
$rose-color: #FA7692;
$red-color: #A61703;
$error-color: #a94442;

$blue-1-color: #6EC4DB;
$blue-2-color: #008CB1;

$white-color: #ffffff;

$gray-1-color: #E0E0E0;
$gray-2-color: #AFAFAF;
$gray-3-color: #979797;
$gray-4-color: #9F9F9F;
$gray-5-color: #595959;
$gray-6-color: #292929;
$gray-border-color: #ddd;

$scroll-color: #ffffff;

$color-box-1: #951b81;
$color-box-2: #bbd151;
$color-box-3: #fdc300;
$color-box-4: #009870;
$color-box-5: #0087b5;

$border-radius: 5px;

//Screen sizing/orientation config
$screen-width: 1080px;
$screen-height: 1920px;

//Defaults
$font-size: 16px;
$font-size-menu: 20px;
$font-size-filter: 17px;
$font-size-geral: 15px;
$font-size-subtitle: 30px;
$font-size-name: 20px;
$font-size-title: 40px;
$font-size-text-info-main: 25px;

$white: #fff;
$black: #000;
$color-secondary: #951b81;
$color-keyboard-bc: #202121;
$color-blue: #0087b5;

$color-box-1: $color-secondary;
$color-box-2: #B4D04F;
$color-box-3: #FFBF00;
$color-box-4: #00976F;
$color-box-5: #0088B4;

$brand-color: #1B3758;
$red-brand-color: #D04A29;
$blue-brand-color: #1B3758;

$color-primary: #828282;

$background-primary: #f8f8f8;