<div class="modal-body product-details-dialog">
  <button class="close" ng-click="cancel()"></button>
  <div class="product-details-dialog__image" ng-style="{'background-image':'url({{selectedProduct.image.file}})'}"></div>
  <div class="product-details-dialog__content">
    <div class="product-details-dialog__content__data">
      <div class="product-details-dialog__content__text col-md-6">
        <div class="product-name product-details-dialog__content__text__name">{{selectedProduct.name}}</div>
        <div class="product-excerpt product-details-dialog__content__text__excerpt" ng-bind-html="selectedProduct.description"></div>
        <div class="product-price product-details-dialog__content__text__price">£{{selectedProduct.priceFinal}}</div>
      </div>
      <div class="product-details-dialog__content__info col-md-6">
        <div class="col-md-12 product-details-dialog__content__info__icons" ng-if="selectedProduct.json.filters.length > 0">
          <div class="product-details-dialog__content__info__icons__icon product-card__colors--green {{selectedProduct.json.filters.indexOf('Vegetarian') > -1 ? '' : 'product-details-dialog__content__info__icons__icon--hide'}}">
            <i class="fa fa-heartbeat"></i>
            <span>Vegetarian</span>
          </div>
          <div class="product-details-dialog__content__info__icons__icon product-card__colors--green {{selectedProduct.json.filters.indexOf('Vegan') > -1 ? '' : 'product-details-dialog__content__info__icons__icon--hide'}}">
            <i class="fa fa-heartbeat"></i>
            <span>Vegan</span>
          </div>
          <div class="product-details-dialog__content__info__icons__icon product-card__colors--yellow {{selectedProduct.json.filters.indexOf('Gluten Free') > -1 ? '' : 'product-details-dialog__content__info__icons__icon--hide'}}">
            <i class="fa fa-heartbeat"></i>
            <span>Gluten Free</span>
          </div>
          <div class="product-details-dialog__content__info__icons__icon product-card__colors--blue {{selectedProduct.json.filters.indexOf('Deals') > -1 ? '' : 'product-details-dialog__content__info__icons__icon--hide'}}">
            <i class="fa fa-heartbeat"></i>
            <span>Deals</span>
          </div>
        </div>
        <div class="col-md-12 product-details-dialog__content__info__values" ng-class="selectedProduct.json.nutritionalInfo.calories||selectedProduct.json.nutritionalInfo.carbs||selectedProduct.json.nutritionalInfo.fat||selectedProduct.json.nutritionalInfo.calories||selectedProduct.json.nutritionalInfo.fibre||selectedProduct.json.nutritionalInfo.proteins||selectedProduct.json.nutritionalInfo.satFat||selectedProduct.json.nutritionalInfo.sugar? '' : 'hide'">
          <div class="col-md-6 {{selectedProduct.json.nutritionalInfo.calories == '' ? 'product-card__price__icon--hide' : ''}}">
            <div class="col-md-6">Calories</div>
            <div class="col-md-6">{{selectedProduct.json.nutritionalInfo.calories}}</div>
          </div>
          <div class="col-md-6 {{selectedProduct.json.nutritionalInfo.carbs == '' ? 'product-card__price__icon--hide' : ''}}">
            <div class="col-md-6">Carbs</div>
            <div class="col-md-6">{{selectedProduct.json.nutritionalInfo.carbs}}</div>
          </div>
          <div class="col-md-6 {{selectedProduct.json.nutritionalInfo.fat == '' ? 'product-card__price__icon--hide' : ''}}">
            <div class="col-md-6">Fat</div>
            <div class="col-md-6">{{selectedProduct.json.nutritionalInfo.fat}}</div>
          </div>
          <div class="col-md-6 {{selectedProduct.json.nutritionalInfo.fibre == '' ? 'product-card__price__icon--hide' : ''}}">
            <div class="col-md-6">Fibre</div>
            <div class="col-md-6">{{selectedProduct.json.nutritionalInfo.fibre}}</div>
          </div>
          <div class="col-md-6 {{selectedProduct.json.nutritionalInfo.proteins == '' ? 'product-card__price__icon--hide' : ''}}">
            <div class="col-md-6">Proteins</div>
            <div class="col-md-6">{{selectedProduct.json.nutritionalInfo.proteins}}</div>
          </div>
          <div class="col-md-6 {{selectedProduct.json.nutritionalInfo.satFat == '' ? 'product-card__price__icon--hide' : ''}}">
            <div class="col-md-6">Sat Fat</div>
            <div class="col-md-6">{{selectedProduct.json.nutritionalInfo.satFat}}</div>
          </div>
          <div class="col-md-6 {{selectedProduct.json.nutritionalInfo.sugar == '' ? 'product-card__price__icon--hide' : ''}}">
            <div class="col-md-6">Sugar</div>
            <div class="col-md-6">{{selectedProduct.json.nutritionalInfo.sugar}}</div>
          </div>
        </div>
        <div class="col-md-12 product-details-dialog__content__info__ingredients" ng-if="selectedProduct.json.ingredients.length > 0">
          <div class="product-details-dialog__content__info__ingredients__title">Ingredients: </div>
          <span class="product-details-dialog__content__info__ingredients__item" ng-repeat="ingredient in selectedProduct.json.ingredients">{{ingredient}}</span>
        </div>
      </div>
    </div>
    <div class="btn btn-lg btn-default btn-block product-details-dialog__content__button product-card__colors--{{selectedProduct.category.name}}"
      ng-click="buyProduct(selectedProduct)"><i class="fa fa-shopping-basket"></i>Add to basket</div>
  </div>
</div>